#container{

display: flex;
border: 1px solid black;
margin: auto;
width: 100%;

}

#main {
    
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap : 20px
}

#main > div {
    border: 1px solid black;
    margin-bottom: 20px;
}




